Bai1_Exam_Client/src/META-INF/wsdl/localhost_8084/Bai1_Exam/ManagerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="ManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8084/Bai1_Exam/ManagerService?xsd=1" />
</xsd:schema>
</types>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct" />
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse" />
</message>
<message name="loadAllProducts">
<part name="parameters" element="tns:loadAllProducts" />
</message>
<message name="loadAllProductsResponse">
<part name="parameters" element="tns:loadAllProductsResponse" />
</message>
<message name="addNewProduct">
<part name="parameters" element="tns:addNewProduct" />
</message>
<message name="addNewProductResponse">
<part name="parameters" element="tns:addNewProductResponse" />
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct" />
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse" />
</message>
<message name="loadProductByManuID">
<part name="parameters" element="tns:loadProductByManuID" />
</message>
<message name="loadProductByManuIDResponse">
<part name="parameters" element="tns:loadProductByManuIDResponse" />
</message>
<message name="loadAllManufacturers">
<part name="parameters" element="tns:loadAllManufacturers" />
</message>
<message name="loadAllManufacturersResponse">
<part name="parameters" element="tns:loadAllManufacturersResponse" />
</message>
<message name="loadProductByID">
<part name="parameters" element="tns:loadProductByID" />
</message>
<message name="loadProductByIDResponse">
<part name="parameters" element="tns:loadProductByIDResponse" />
</message>
<portType name="ManagerService">
<operation name="updateProduct">
<input wsam:Action="http://service.com/ManagerService/updateProductRequest" message="tns:updateProduct" />
<output wsam:Action="http://service.com/ManagerService/updateProductResponse" message="tns:updateProductResponse" />
</operation>
<operation name="loadAllProducts">
<input wsam:Action="http://service.com/ManagerService/loadAllProductsRequest" message="tns:loadAllProducts" />
<output wsam:Action="http://service.com/ManagerService/loadAllProductsResponse" message="tns:loadAllProductsResponse" />
</operation>
<operation name="addNewProduct">
<input wsam:Action="http://service.com/ManagerService/addNewProductRequest" message="tns:addNewProduct" />
<output wsam:Action="http://service.com/ManagerService/addNewProductResponse" message="tns:addNewProductResponse" />
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://service.com/ManagerService/deleteProductRequest" message="tns:deleteProduct" />
<output wsam:Action="http://service.com/ManagerService/deleteProductResponse" message="tns:deleteProductResponse" />
</operation>
<operation name="loadProductByManuID">
<input wsam:Action="http://service.com/ManagerService/loadProductByManuIDRequest" message="tns:loadProductByManuID" />
<output wsam:Action="http://service.com/ManagerService/loadProductByManuIDResponse" message="tns:loadProductByManuIDResponse" />
</operation>
<operation name="loadAllManufacturers">
<input wsam:Action="http://service.com/ManagerService/loadAllManufacturersRequest" message="tns:loadAllManufacturers" />
<output wsam:Action="http://service.com/ManagerService/loadAllManufacturersResponse" message="tns:loadAllManufacturersResponse" />
</operation>
<operation name="loadProductByID">
<input wsam:Action="http://service.com/ManagerService/loadProductByIDRequest" message="tns:loadProductByID" />
<output wsam:Action="http://service.com/ManagerService/loadProductByIDResponse" message="tns:loadProductByIDResponse" />
</operation>
</portType>
<binding name="ManagerServicePortBinding" type="tns:ManagerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="updateProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loadAllProducts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addNewProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loadProductByManuID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loadAllManufacturers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loadProductByID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ManagerService">
<port name="ManagerServicePort" binding="tns:ManagerServicePortBinding">
<soap:address location="http://localhost:8084/Bai1_Exam/ManagerService" />
</port>
</service>
</definitions>