Bai1_Exam_Client/src/META-INF/wsdl/localhost_8084/Bai1_Exam/ManagerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.com/">

<xs:element name="addNewProduct" type="tns:addNewProduct" />

<xs:element name="addNewProductResponse" type="tns:addNewProductResponse" />

<xs:element name="deleteProduct" type="tns:deleteProduct" />

<xs:element name="deleteProductResponse" type="tns:deleteProductResponse" />

<xs:element name="loadAllManufacturers" type="tns:loadAllManufacturers" />

<xs:element name="loadAllManufacturersResponse" type="tns:loadAllManufacturersResponse" />

<xs:element name="loadAllProducts" type="tns:loadAllProducts" />

<xs:element name="loadAllProductsResponse" type="tns:loadAllProductsResponse" />

<xs:element name="loadProductByID" type="tns:loadProductByID" />

<xs:element name="loadProductByIDResponse" type="tns:loadProductByIDResponse" />

<xs:element name="loadProductByManuID" type="tns:loadProductByManuID" />

<xs:element name="loadProductByManuIDResponse" type="tns:loadProductByManuIDResponse" />

<xs:element name="updateProduct" type="tns:updateProduct" />

<xs:element name="updateProductResponse" type="tns:updateProductResponse" />

<xs:complexType name="addNewProduct">
<xs:sequence>
<xs:element name="arg0" type="tns:productDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="productDTO">
<xs:sequence>
<xs:element name="createdDate" type="xs:long" />
<xs:element name="manufacturerID" type="xs:string" minOccurs="0" />
<xs:element name="manufacturerName" type="xs:string" minOccurs="0" />
<xs:element name="productID" type="xs:string" minOccurs="0" />
<xs:element name="productName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadProductByManuID">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadProductByManuIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:productDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProduct">
<xs:sequence>
<xs:element name="arg0" type="tns:productDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadProductByID">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadProductByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:productDTO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadAllProducts">
<xs:sequence />
</xs:complexType>

<xs:complexType name="loadAllProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:productDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadAllManufacturers">
<xs:sequence />
</xs:complexType>

<xs:complexType name="loadAllManufacturersResponse">
<xs:sequence>
<xs:element name="return" type="tns:manufacturerDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="manufacturerDTO">
<xs:sequence>
<xs:element name="manufacturerID" type="xs:string" minOccurs="0" />
<xs:element name="manufacturerName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProduct">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>